/* Responsive classes starts */

@media only screen and (max-width:900px) {

.userPro_pic_section > h3 {
    font-size: 14px;
}
.userPro_pic_section > a {
    font-size: 12px;
}  
   
    
    

}







@media only screen and (max-width:820px) {
  
    
    
    

}






@media only screen and (max-width:767px) {
.formrow > lable {
    font-size: 13px;
}
    
    
    

}





@media only screen and (max-width:650px) {
.userPro_pic_section {
    float: none;
    margin: 0 auto;
    width: 330px;
}    
.userPro_pic_section > h3 {
    font-size: 18px;
}   
.userPro_pic_section > a {
    font-size: 14px;
}

.userPro_loginPage {
    background-color: #fff;
    float: none;
    margin: 35px auto;
    overflow: hidden;
    width: 100%;
}

}