@charset "utf-8";
/* 

font-family: 'Poiret One', cursive;
font-family: 'Open Sans', sans-serif;

*/

body {
    font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0 auto;
    font-size: 14px;
}
*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	box-sizing: border-box !important;
	outline: none;
}
a {
	text-decoration: none;
	color: #fff;
}
img {
	vertical-align: middle;
	border: none;
}
.row {
	width: 100%;
	float: left;
}
.wrapper {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.form_1_bg {
    background-color: #ebebeb;
    border-bottom: 2px solid #10af4f;
    margin-bottom: 30px;
}
.userPro_loginPage {
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
    width: 69.5%;
}
.formhead {
    color: #1a1a1a;
    font-size: 22px;
    font-weight: normal;
    margin: 15px auto;
    width: 62%;
}
.links {
    background-color: #4a4a4a;
    border-bottom: 3px solid #10af4f;
}
.links > a {
    border-right: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 14px 18px;
    transition: all 0.6s linear 0s;
}
.links > a:hover {
    background-color: #10af4f;
    transition: all 0.3s linear 0s;
}
.active_link {
    background-color: #10af4f;
}
.userForms {
    width: 94%;
    margin: 30px auto;

}
.formhead {
    color: #1a1a1a;
    font-size: 22px;
    font-weight: normal;
    margin: 15px 0;
    padding-bottom: 10px;
    width: 62%;
}
.userForms > input {
    background-color: #ebebeb;
    border: 1px solid #d7d7d7;
    display: block;
    margin-top: 8px;
    padding: 12px 10px;
    width: 100%;
}
.chek_fwd {
    font-size: 13px;
    line-height: 12px;
    margin: 15px 0;
}
.chek_fwd > input[type="checkbox"] {
    float: left;
    margin-right: 10px;
}
.chek_fwd > a {
    float: right;
    color: #404040;
}

.userForms > button {
    background-color: #4a4a4a;
    border: 0 none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 35px 0 15px;
    outline: 0 none;
    padding: 6px 30px;
}
.userForms > button:hover {
    background-color: #626262;
}



/* Registration page classes starts */
.formrow {
    width: 100%;
    margin: 10px 0;
    height: 45px;
    overflow: hidden;
}
.formrow > lable {
    width: 25%;
    float: left;
    line-height: 18px;
}
.formrow > .field {
    width: 72%;
    float: right;
}
.formrow > .field > input[type="text"] {
    width: 100%;
    padding: 8px;
    background-color: #ebebeb;
    border: 1px solid #d7d7d7;
}
.formrow > .field > textarea {
    width: 100%;
    padding: 10px 8px;
    background-color: #ebebeb;
    border: 1px solid #d7d7d7;
}
.formrow > .field > select {
    width: 100%;
    height: 42px;
    background-color: #ebebeb;
    border: 1px solid #d7d7d7;
    outline: 0;
}
.terms {
    margin: 30px 0 -15px;
    width: 100%;
}



/* UserPro-ProfilePage page classes starts */

.userPro_page_setting {
    width: 100%;
    margin: 0 auto;
}

.userPro_pic_section {
    background-color: #fff;
    border-top: 3px solid #10af4f;
    float: left;
    margin-right: 2%;
    overflow: hidden;
    width: 28%;
}
.userPic {
    border: 1px solid #ccc;
    width: 80%;
    margin: 18px auto 10px;
    position: relative;
}
.userPic img {
    width: 100%;
}
.userPic > i{
    background-color: rgba(21,21,21,0.4);
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    cursor: pointer;
}
.userPro_pic_section > h3{
    font-size: 18px;
    font-weight: 600;
    color: #151515;
    text-align: center;
    margin-top: 7px;
    padding: 0;
}
.userPro_pic_section > a {
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    text-align: center;
    margin-bottom: 8px;
    display: block;
}
.userPro_Pic_info {
    border-top: 1px solid #ccc;
    color: #252525;
    margin: 0 auto;
    padding: 7px 0;
    width: 90%;
}
.userPro_Pic_info > span {
    float: right;
}
.userPro_Pic_info > span > i {
    color: #f5a700;
}
.userPro_Pic_info > a {
    margin: 0 2px;
    display: inline;
    font-size: 24px;
    opacity: 0.7;
    transition: all 0.3s linear 0s;
}
.userPro_Pic_info > a:hover {
    opacity: 1;
    transition: all 0.1s linear 0s;
}
.userPic_edit {
    margin: 5px 0 50px; 
}
.userPic_edit > a {
    padding: 8px 0;
    display: block;
    float: left;
    width: 47.5%;
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    font-size: 13px;
}
.userPic_edit > a:last-child {
    float: right !important;
}


/* Account details page classes starts */
.Pass_strength {
    margin: 20px 0 0px 28%;  
}
.Pass_strength > span {
    width: 200px;
    display: block;
    margin-top: 6px;
    height: 7px;
    background-color: #dadada;
    border: 1px solid #808080;
    border-radius: 4px;

}

